<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{24} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- The driver is chatty at INFO during connection setup -->
  <logger name="com.datastax.oss.driver" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
